*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App{
  background-color: antiquewhite;
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.kya{
  margin-left: 50px;
}
.container h3{
  margin-top: 15px;
}
.gifbox{
  height: 230px;
  width: 230px;
  background-color: black;
}
.gifbox img{
  height: 100%;
  width: 100%;
}
.buttons{
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin-top: 20px;
}
.buttons button{
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
button{
  font-weight: 700;
}
button{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.tease{
  position: absolute;
}
.childcont{
  width: 200px;
  text-align: center;
}
.para{
  margin-top: 10px;
  margin-left: 45px;
  font-size: 10px;
}
